* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Garamond;
    font-size: large;
}

a {
    color: cadetblue;
    text-decoration: none;
}

.wrapper .sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vw;
    background: #f1f1f1;
}

.wrapper .sidenav h3 {
    color: darkslategray;
    text-align: center;
    line-height: 90px;
    /* border-bottom: 1px dotted grey; */
    margin-bottom: 50px;
}

.wrapper .sidenav .page li {
    list-style: none;
    padding: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}

i {
    margin-right: 8px;
}

.wrapper .sidenav .page li:hover {
    background-color: rgba(10, 10, 10, 0.1);
}

.wrapper .sidenav .page p {
    color: cadetblue;
}


.social-media{
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
}

.social-media i:hover {
    transition: 0.5s;
    transform: rotate(360deg);
}



.wrapper .main-content {
    width: 80vw;
    margin-left: 20vw;
}
section {
    height: 100vh;
}